<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxt.esl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cxt.esl.main.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.cxt.esl.label.activity.LabelActivity"
            android:label="@string/label_manage">
        </activity>
        <activity 
            android:name="com.cxt.esl.label.activity.LabelAddActivity"
            android:label="@string/label_add">
        </activity>
        <activity 
            android:name="com.cxt.esl.label.activity.LabelUpdateActivity"
            android:label="@string/label_update">
        </activity>
        
        <activity 
            android:name="com.cxt.esl.pattern.activity.PatternActivity"
            android:label="@string/pattern_manage">
        </activity>
        <activity 
            android:name="com.cxt.esl.pattern.activity.PatternAddActivity"
            android:label="@string/pattern_add">
        </activity>
        <activity 
            android:name="com.cxt.esl.pattern.activity.PatternUpdateActivity"
            android:label="@string/pattern_update">
        </activity>
    </application>

</manifest>
